$rem: 16px;
$global-width: 1000px;

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: sans-serif;
  font-size: $rem;
  background-color: white;
}

/* general clases */

.site-width {
  width: $global-width;
  margin: 0 auto;
}

.reset-float {
  &::before,
  &::after {
    clear: both;
    display: block;
    content: '';
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin: 0 auto;
}

.colored {
  color: #2EB9A0;
}

.show {
  display: block;
}

.hide {
  display: none;
}

h1 {
  font-size: 2.1rem;
  font-weight: 400;
  margin-bottom: 40px;
  text-transform: uppercase;
}

h2 {
  font-size: 1.4rem;
  font-weight: 500;
  width: 320px;
  padding-bottom: 5px;
  // margin: 15px;
  border-bottom: 7px solid #2EB9A0;
  text-transform: uppercase;
  padding-top: 40px;
  margin-bottom: 40px;
}

h3 {
  font-size: 0.95rem;
  font-weight: 600;
  width: 140px;
  padding-bottom: 5px;
  margin: 15px;
  border-bottom: 7px solid #2EB9A0;
  // display: block;
}
h4 {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

p {
  color: #6C6D6E;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 300;
}

/* header box */

header {
  height: 40px;
  color: white;
  background-color: black;
  // position: relative;
  display: flex;
  align-items: center;
  // justify-content: center;
  // div:first-child {
  //   // padding-top: 5px;
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;
  // }
}

.logo {
  text-transform: uppercase;
  padding-top: 5px;
}

.menu {
    font-size: 14px;
    li {
        display: inline-block;
        text-transform: uppercase;
        margin-left: 30px;
        padding: 5px 10px;
    }
}

.submenu {
  position: absolute;
  top: 31px;
  .menu-square {
    width: 0;
    height: 0;
    // background-color: black;
    // transform: rotate(45deg);
    // position: absolute;
    // top: 46px;
    margin-left: 22px;
    border: 11px solid transparent;
    border-bottom: 12px solid black;
  }
  .menu-bottom {
    background-color: black;
    // position: absolute;
    // top: 55px;
    display: flex;
    flex-direction: column;
    li {
        width: auto;
        text-transform: none;
        margin: 5px 0;
    }
  }
}

/* slider box */
.slider {
  background-image: url(../img/background-slider.png);
  .slider-box {
    height: 500px;
    // >div:first-child {
    //   text-align: right;
    // }
    // >div:last-child {
    //   text-align: left;
    // }
  }
}


.turn-slider {
  color: #2EB9A0;
  width: 5%;
  // height: 100%;
  font-size: 80px;
  font-weight: 200;
  padding-top: 210px;
  text-align: center;
}

.picture-in-slider {
  width: 42%;
  height: 100%;
  background-image: url(../img/black_chair.png);
  background-repeat: no-repeat;
  background-position: 30px 100px;
  // background-position: right;
  background-size: 370px;
}

.text-in-slider {
  width: 40%;
  // height: 100%;
  text-align: center;
  padding-top: 140px;
  p {
    padding: 0 25px;
    margin-bottom: 40px;
  }
}

a {
  color: white;
  font-size: 1.4rem;
  font-weight: 300;
  .button {
    width: 250px;
    height: 55px;
    background-color: #2EB9A0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      color: #2EB9A0;
      background: white;
    }
  }
}

/* picture box */

.picture-box {
  width: $global-width;
  height: 330px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  div:first-child {
      background-image: url(../img/box1_img.jpg);
    }
  div:nth-child(2) {
      background-image: url(../img/box2_img.jpg);
    }
  .picture-in-picturebox {
    width: 31%;
    height: 19.1vw;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 3.3%;
    >div {
      width: 100%;
      height: 60px;
      background-color: rgba(255,255,255,.5);
      background-image: none;
      padding-top: 5px;
      margin-top: 135px;
    }
  }
  .text-in-picturebox {
    width: 31%;
    height: 255px;
    border: 1px solid #D7D8D9;
    border-radius: 2px;
    padding: 15px 25px 0 10px;
    box-sizing: border-box;
    p {
      font-size: 0.7rem;
      margin: 5px 0 30px 15px;
    }
  }
}

.prices {
  background-color: #F0F1F2;
}

.prices-box {
  height: 725px;
}

.prices-container {
  display: flex;
  justify-content: space-between;
}

.price-box {
  width: 30%;
  // margin-right: 3%;
  position: relative;
  // background: lightgoldenrodyellow;
  .price-box-circle-box {
    width: 100%;
    position: absolute;
    .price-box-circle-big {
      width: 55px;
      height: 55px;
      background-color: white;
      border: 2px solid #D4D5D6;
      border-radius: 50%;
      margin: 0 auto;
      .price-box-circle-small {
        width: 25px;
        height: 25px;
        background-color: #C1C2C3;
        border-radius: 50%;
        margin: 15px auto 0 auto;
      }
    }
  }
  .price-box-content {
    margin-top: 38px;
    width: 100%;
    height: 500px;
    background: #F8F9FA;
    border: 2px solid #D4D5D6;
    box-sizing: border-box;
  }
  .price-name {
    width: 100%;
    color: #2EB9A0;
    text-align: center;
    margin-top: 32px;
  }
  .price-circle {
    width: 128px;
    height: 128px;
    color: #BFC0C1;
    background-color: white;
    border-radius: 50%;
    border: 2px solid #D4D5D6;
    margin: auto;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h5 {
      font-size: 2.8rem;
      padding-left: 5%;
      sup {
        font-size: 1.1rem;
      }
    }
    p {
      color: #BFC0C1;
      font-size: 1rem;
      font-weight: 500;
    }
  }
  .price-list {
    font-size: 1.6rem;
    font-weight: 300;
    font-stretch: condensed;
    text-align: center;
    padding-top: 35px;
    .price-list-item {
      padding: 5px;
      &:nth-of-type(2n+1) {
        color: #A7A8A9;
        background: #E3E4E5;
      }
      &:nth-of-type(2n+2) {
        color: #919293;
        background: #F0F1F2;
      }
    }
  }
  .price-button-box {
    width: 98.9%;
    height: 80px;
    // background: lightcoral;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      color: white;
      width: 120px;
      height: 34px;
      background: #2EB9A0;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 7px;
      &:hover {
        color: #2EB9A0;
        background-color: white;
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
        box-sizing: border-box;
      }
    }
  }
}

.green-colored {
  .price-box-circle-box {
    .price-box-circle-big {
      background-color: #2EB9A0;
      border-color: #2EB9A0;
      .price-box-circle-small {
        background-color: #F8F9FA;
      }
    }
  }
  .price-box-content {
    background: #2EB9A0;
    border-color: #2EB9A0;
  }
  .price-name {
    color: white;
  }
  .price-circle {
    color: #2EB9A0;
    background-color: #F8F9FA;
    border-color: #2EB9A0;
    p {
      color: #2EB9A0;
    }
  }
  .price-list {
    .price-list-item {
      &:nth-of-type(2n+1) {
        color: #B5B6B7;
        background: #F8F9FA;
      }
      &:nth-of-type(2n+2) {
        color: #B5B6B7;
        background: #F0F1F2;
      }
    }
  }
  .price-button-box {
    a {
      color: #2EB9A0;
      background: white;
      &:hover {
        color: white;
        background-color: #2EB9A0;
      }
    }
  }
}

// contact-box

.contact-container {
  width: 100%;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  .form-box {
    width: 63%;
    height: 380px;
    form {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      input {
        color: #B0B1B2;
        font-size: 2rem;
        font-weight: 200;
        height: 62px;
        border: 1px solid #2EB9A0;
        // margin-bottom: 26px;
        padding: 0 15px 0 15px;
      }
      textarea {
        color: #B0B1B2;
        font-family: sans-serif;
        font-size: 2rem;
        font-weight: 100;
        height: 188px;
        border: 1px solid #2EB9A0;
        padding: 15px;
      }
    }
  }
  .send-box {
    width: 32%;
    background-image: url(../img/red_chair.png);
    background-position-x: center;
    background-repeat: no-repeat;
    padding-top: 225px;
    position: relative;
    div {
      display: flex;
      align-items: center;
      input[type=checkbox] {
        display:none;
      }
      input[type=checkbox] + label {
        background: white;
        height: 50px;
        width: 50px;
        border: 1px solid #2EB9A0;
      }
      input[type=checkbox]:checked + label {
        display:inline-block;
        background-image: url(../img/checked.png);
        background-position: center;
        background-repeat: no-repeat;
      }
      span {
        color: #B0B1B2;
        font-size: 1.1rem;
        font-weight: 200;
        line-height: 1.3rem;
        padding: 0 15px 0 15px;
      }
    }
    a {
      color: white;
      font-size: 2rem;
      width: 100%;
      height: 70px;
      background-color: #2EB9A0;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 0px;
      &:hover {
        color: #2EB9A0;
        background-color: white;
        border: 2px solid #2EB9A0;
        box-sizing: border-box;
      }
    }
  }
}
footer {
  color: #949596;
  height: 125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    &:first-of-type {

    }
    &:last-of-type {

    }
  }
  .media-links {
    display: flex;
    flex-direction: row;
    margin: 0 0 15px 270px;
    a {
      margin: 2px;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-position: center;
      background-repeat: no-repeat;
      &:first-of-type {
        background-image: url(../img/flickr.png);
      }
      &:nth-of-type(2) {
        background-image: url(../img/vimeo.png);
      }
      &:nth-of-type(3) {
        background-image: url(../img/pinterest.png);
      }
      &:last-of-type {
        background-image: url(../img/twitter.png);
      }
    }
  }
}