* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

/* general clases */

.site-width {
  width: 90%;
  margin: 0 auto;
}

.reset-float::after {
  clear: both;
  display: block;
  content: '';
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin: 0 auto;
}

/* header box */

header {
  height: 40px;
  color: white;
  background-color: black;
  // position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  text-transform: uppercase;
}

.menu {
    font-size: 14px;
    li {
        display: inline-block;
        text-transform: uppercase;
        margin-left: 50px;
        padding: 5px 10px;
    }
}
    

.menu-bottom {
    background-color: black;
    position: absolute;
    top: 55px;
    display: flex;
    flex-direction: column;
    li {
        width: auto;
        text-transform: none;
        margin: 5px 0;
    }
}

/* slider box */

.slider-box {
  height: 500px;
  background-image: url(../img/background-slider.png);
}

.turn-slider {
  color: #2EB9A0;
  width: 15%;
  height: 100%;
  font-size: 80px;
  font-weight: 200;
  text-align: center;
  padding-top: 210px;
}

.picture-in-slider {
  width: 30%;
  height: 100%;
  background-image: url(../img/black_chair.png);
  background-repeat: no-repeat;
  background-position: center;
}

.text-in-slider {
  width: 40%;
  height: 100%;
  text-align: center;
}

.text-in-slider h1 {

}

.text-in-slider p {

}

.button {
  width: 250px;
  height: 55px;
  background-color: #2EB9A0;
  border-radius: 10px;
}

.button a {
  color: white;
  font-size: 22px;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 7% 0 0 0;
}

/* picture box */

.picture-box {

}

.picture-in-picturebox {

}

.text-in-picturebox {

}

h1 {
  text-transform: uppercase;
}

.colored {
  color: #2EB9A0;
}
